<!-- Theme template demo: https://demos.creative-tim.com/black-dashboard/examples/dashboard.html -->
<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png"> -->
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <title>
    Kadima Portfolio Advisor
  </title>
  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
  
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>

<body class="" onload="startTime()">

  <audio id="up_sound">
    <source src="{% static 'audio/up.mp3' %}" type="audio/mpeg">
  </audio>

  <audio id="down_sound">
    <source src="{% static 'audio/down.mp3' %}" type="audio/mpeg">
  </audio>

  <div class="container-fluid" >
    <div class="row" >
      <div class="col-sm-4">
        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
          {% if ib_api_connected %}
            <button type="submit" name="connect_ib_api" class="btn btn-success" disabled> IB API Connected </button>
            <button type="submit" name="disconnect_ib_api" class="btn btn-danger"> Disconnect </button>
            {% else %}
              {% if user.is_authenticated %}
                <button type="submit" name="connect_ib_api" class="btn btn-success" > Connect API </button>
                <a href="/logout">Logout</a>
                {% else %}
                <button type="submit" name="connect_ib_api" class="btn btn-success" disabled > Connect API </button>
                <a href="/login">Login</a>
              {% endif %}
          {% endif %}
          <!-- <button type="submit" name="update_now" class="btn btn-info" > Update </button> -->
        </form>  
      </div>
      <div class="col-sm-8 text-center" style="height: 5em;">
        <a href='/'><img src="{% static 'assets/img/kadima-logo.png' %}" alt="Kadima Group logo";" style="height: 100%; width: auto"></a>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper text-primary" style="background-color: #dabdbd;">
        <div class="logo">
          <a href="{% url 'home' %}" class="simple-text logo-normal" style="color: black;">
            Kadima Portfolio Advisor
          </a>
        </div>
        <div class="row mt-3">
          <div class="col-6 text-right">
            <a href="{% url 'home' %}">
              <i class="tim-icons icon-coins" style="color: black;"></i>
              <span style="color: black;">Table 1</span>
            </a>
          </div>
          <div class="col-6">
            <a href="{% url 'history' table_index=1 %}">
              <i class="tim-icons icon-bullet-list-67" style="color: black;"></i>
              <span style="color: black;">History 1</span>
            </a>
          </div>
        </div>
        <div class="row border-top mt-3">
          <div class="col-6 text-right mt-2">
            <a href="{% url 'table-2' table_index=2 %}">
              <i class="tim-icons icon-coins" style="color: black;"></i>
              <span style="color: black;">Table 2</span>
            </a>
          </div>
          <div class="col-6 mt-2">
            <a href="{% url 'history' table_index=2 %}">
              <i class="tim-icons icon-bullet-list-67" style="color: black;"></i>
              <span style="color: black;">History 2</span>
            </a>
          </div>
        </div>

        <!-- Table Control section -->
        <div class="row mt-3">
          <div class="col-12 text-center">
            {% include 'kadima/stock_control.html' with table_index=table_index %}
          </div>
        </div>

        <!-- Alarms section -->
        <div class="row mt-2 border-top">
          <div class="col-12 text-center mt-2">
              <a href="{% url 'stock-alarms'%}">
                <i class="tim-icons icon-bell-55" style="color: black;"></i>
                <span style="color: black;">Stock Alarms</span>
              </a>
          </div>
        </div>

        <!-- Time Section -->
        <div class="row mt-2 border-top">
          <div class="col-12 text-center">
            <div class="mt-2 h3" id="date" style="text-align: center;"></div>
          </div>
        </div> 

        <div class="row">
          <div class="col-12 text-center">
            <div class="h1" id="clock" style="text-align: center;"></div>
          </div>
        </div> 

      </div> 
    </div><!-- End sidebar -->

    <div class="main-panel">
      {% block content %}

      <!-- CONTENT -->

      {% endblock content %}
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="http://grupokadima.com" class="nav-link">
                &copy; Copyright 2018. Kadima Group. All rights reserved
              </a>
            </li>
          </ul>
          <div class="copyright">
            <!-- <script>
              document.write(new Date().getFullYear())
            </script>  -->
            made with <i class="tim-icons icon-heart-2"></i> by
            <a href="https://actappon.com" target="_blank">Actappon</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>

</body>

<script>
  function startTime() {
    var today = new Date();
    var year = today.getFullYear()
    var month = today.getMonth()
    var day = today.getDate()
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);

    document.getElementById('date').innerHTML = 
    day + "/" + month + "/" + year;

    document.getElementById('clock').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
  </script>

{% if ib_api_connected %}

  <script type="text/javascript">
      (function worker() {
          $.ajax({
          url: {% url 'stocks-alarms-data' %}
      });		
      // Polling the API page every second so the alerts can come while on every page.
      setTimeout(worker, 2000);
      })();
  </script>

  <script type="text/javascript">
    (function worker() {
        $.ajax({
        url: {% url 'alarm-trigger' %},
        success: function(response) {
            console.log('Checking Trigger...');
            $('#trigger_alerts').html(response);
        }
    });		
    // Polling the API page every second
    setTimeout(worker, 2000);
    })();

  </script>
{% endif %}
<script>
  $(document).ready(function(){
      setTimeout(function() {
              // $(".display-message").hide('blind', {}, 300)
        $(".display-message").hide();
      }, 5000);
  });
</script>

<script>
  var up = document.getElementById("up_sound"); 
  var down = document.getElementById("down_sound"); 
  
  function playUpAudio() { 
    up.play(); 
  } 

  function playDownAudio() { 
      down.play(); 
  } 

//    function pauseAudio() { 
//      x.pause(); 
//    } 
</script>



</html>
