<!-- Theme template demo: https://demos.creative-tim.com/black-dashboard/examples/dashboard.html -->
<!DOCTYPE html>

<html lang="en">
{% load static %}
{% block head %} {% endblock head %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png"> -->
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <title>
    Kadima Portfolio Advisor
  </title>
  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" /> 
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>  
  <script src="{% static 'assets/js/kadima.js' %}" ></script>

</head>

<body class="" onload="startTime()" id="main">

  <!-- Stocks alarms trigger sounds -->
  <div id="trigger_alerts" hidden></div>
  <audio id="up_sound">
    <source src="{% static 'audio/up.mp3' %}" type="audio/mpeg">
  </audio>

  <audio id="down_sound">
    <source src="{% static 'audio/down.mp3' %}" type="audio/mpeg">
  </audio>

  <div class="container-fluid" >
    <div class="row" >
      <div class="col-sm-3">
        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
          {% if ib_api_connected %}
            <button type="submit" name="connect_ib_api" class="btn btn-success" disabled> IB API Connected </button>
              {% if user.is_authenticated %}
                <button type="submit" name="disconnect_ib_api" class="btn btn-danger"> Disconnect </button>
              {% else %}
                <button type="submit" name="disconnect_ib_api" class="btn btn-danger" disabled> Disconnect </button>
              {% endif %}
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a href="{% url 'login' %}">Login</a>
              {% endif %}
            {% else %}
              {% if user.is_authenticated %}
                <button type="submit" name="connect_ib_api" class="btn btn-success" > Connect API </button>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <button type="submit" name="connect_ib_api" class="btn btn-success" disabled > Connect API </button>
                <a href="{% url 'login' %}">Login</a>
              {% endif %}
          {% endif %}
          <!-- <button type="submit" name="update_now" class="btn btn-info" > Update </button> -->
        </form>  
      </div>
      <div class="col-sm-2 text-center" style="height: 5em;">
        <a href='/'><img src="{% static 'assets/img/kadima-logo.png' %}" alt="Kadima Group logo";" style="height: 100%; width: auto"></a>
      </div>
      <div class="col-sm-6 text-center" style="height: 5em;">
        <div class="row">
          <div class="col-sm-7">
            <div class="row pt-3" style="color: white; font-size:1rem">
              <div class="col-3">
                <a href="{% url 'home' %}" style="color: white;">Table 1</a>
              </div>
              <div class="col-3" >
                <a href="{% url 'table-2' table_index=2 %}" style="color: white;">Table 2</a>
              </div>
              <div class="col-3" >
                <a href="{% url 'table-3' table_index=3 %}" style="color: white;">Table 3</a>
              </div>
              <div class="col-3" >
                <a href="{% url 'stock-alarms' %}" style="color: white;">Stock Alarms</a>
              </div>
            </div>

          </div>
          {% if stock_alert == 'condition_3' %}
            <div class="col-sm-2 fast-blink-row-buy">
              <img class="pt-3 pb-3" src="{% static 'assets/img/attention.png' %}" alt="Stock alert";" style="max-width:20%">
          {% elif stock_alert == 'condition_4' %}
            <div class="col-sm-2 fast-blink-row-sell">
              <img class="pt-3 pb-3" src="{% static 'assets/img/attention.png' %}" alt="Stock alert";" style="max-width:20%">
          {% else %}
              <div class="col-sm-2 ">
                <img class="pt-3 pb-3" src="{% static 'assets/img/attention.png' %}" alt="Stock alert";" style="max-width:20%">
          {% endif %}
          </div>
          <div class="col-sm-2 pt-2">
            <h1>בס״ד</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <!-- Sidebar -->
    {% if no_sidebar %}
    {% else %}
      <div class="sidebar">
      <div class="sidebar-wrapper text-primary" style="background-color: #dabdbd;">
        <div class="logo">
          <a href="{% url 'home' %}" class="simple-text logo-normal" style="color: black;">
            Kadima Portfolio Advisor
          </a>
        </div>
        <!-- Table 1 / Home -->
        <div class="row mt-3">
          <div class="col-6 text-right">
            <a href="{% url 'home' %}">
              <i class="tim-icons icon-coins" style="color: black;"></i>
              <span style="color: black;">Table 1</span>
            </a>
          </div>
          <div class="col-6">
            <a href="{% url 'history' table_index=1 %}">
              <i class="tim-icons icon-bullet-list-67" style="color: black;"></i>
              <span style="color: black;">History 1</span>
            </a>
          </div>
        </div>
        <!-- Table 2 -->
        <div class="row border-top mt-3">
          <div class="col-6 text-right mt-2">
            <a href="{% url 'table-2' table_index=2 %}">
              <i class="tim-icons icon-coins" style="color: black;"></i>
              <span style="color: black;">Table 2</span>
            </a>
          </div>
          <div class="col-6 mt-2">
            <a href="{% url 'history' table_index=2 %}">
              <i class="tim-icons icon-bullet-list-67" style="color: black;"></i>
              <span style="color: black;">History 2</span>
            </a>
          </div>
        </div>
        
        <!-- Table 3 -->
        <div class="row border-top mt-3">
          <div class="col-6 text-right mt-2">
            <a href="{% url 'table-3' table_index=3 %}">
              <i class="tim-icons icon-coins" style="color: black;"></i>
              <span style="color: black;">Table 3</span>
            </a>
          </div>
          <div class="col-6 mt-2">
            <a href="{% url 'history' table_index=3 %}">
              <i class="tim-icons icon-bullet-list-67" style="color: black;"></i>
              <span style="color: black;">History 3</span>
            </a>
          </div>
        </div>

        <!-- History -->
        <div class="row border-top mt-3">
          <div class="col-6 pt-3 text-right">
            <a href="{% url 'history-all' %}">
              <i class="tim-icons icon-bullet-list-67" style="color: black;"></i>
              <span style="color: black;">History</span>
            </a>
          </div>
        </div>

        <!-- Table Control section -->
        <div class="row mt-1">
          <div class="col-12 text-center">
            {% include 'kadima/stock_control.html' with table_index=table_index %}
          </div>
        </div>

        <!-- Alarms section -->
        <div class="row mt-2 border-top">
          <div class="col-12 text-center mt-2">
              <a href="{% url 'stock-alarms'%}">
                <i class="tim-icons icon-bell-55" style="color: black;"></i>
                <span style="color: black;">Stock Alarms</span>
              </a>
          </div>
        </div>

        <!-- Time Section -->
        <div class="row mt-2 border-top">
          <div class="col-12 text-center">
            <div class="mt-2 h3" id="date" style="text-align: center;"></div>
          </div>
        </div> 

        <div class="row">
          <div class="col-12 text-center">
            <div class="h1" id="clock" style="text-align: center;"></div>
          </div>
        </div> 

      </div> 
      </div><!-- End sidebar -->
    {% endif %}
    <div class="main-panel">
      {% block content %}

      <!-- CONTENT -->

      {% endblock content %}
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="http://grupokadima.com" class="nav-link">
                &copy; Copyright 2018. Kadima Group. All rights reserved
              </a>
            </li>
          </ul>
          <div class="copyright">
            <!-- <script>
              document.write(new Date().getFullYear())
            </script>  -->
            made with <i class="tim-icons icon-heart-2"></i> by
            <a href="https://actappon.com" target="_blank">Actappon</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>


</body>

{% if ib_api_connected %}
  <script type="text/javascript">
      (function worker() {
          $.ajax({
          url: "{% url 'stocks-alarms-data' %}"
      });		
      // Polling the API page every second so the alerts can come while on every page.
      setTimeout(worker, 2000);
      })();
  </script>

  <script type="text/javascript">
    (function worker() {
        $.ajax({
        url: "{% url 'alarm-trigger' %}",
        success: function(response) {
            console.log('Checking Trigger...');
            $('#trigger_alerts').html(response);
        }
    });		
    // Polling the API page every second for the TRIGGER
    setTimeout(worker, 2000);
    })();

  </script>
{% endif %}



</html>
