{% extends 'kadima/base.html' %}
{% load static %}
{% block content %}
<style>
  .index .row {
    padding: 0% !important;
    margin: 0em !important;
    max-height: 7rem;
    
  }

  .week {
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
    color: white;
  }
</style>
  <div class="content" style="padding-top: 1rem !important;">
        <!-- <div class="loader hidden">
          <img src="{% static 'assets/img/loader.gif' %}" alt="Loading...">
        </div> -->
      
        {% if ib_api_connected %}
            <div class="row sticky-top" id="indeces" style="background-color: #1e1d2e;" indeces_url="{% url 'indeces-data' %}">
            </div>
        {% else %}
          <div class="row sticky-top" id="indeces_delayed" style="background-color: #1e1d2e; top: 0 !important">
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ snp_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">S&P</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ snp_value }} / {{ snp_change }}%</h4>
                      </div>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-6 text-center" >
                      <div class="card card-chart" style="background-color:{{ snp_macd_color }}; color: white">
                        <div class="card-header">
                          MACD
                        </div>
                      </div>
                    </div>
                    <div class="col-6 text-center" >
                      <div class="card card-chart" style="background-color:{{ snp_mfi_color }}; color:white">
                        <div class="card-header">
                        MFI
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ dow_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">DOW</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ dow_value }} / {{ dow_change }}%</h4>
                      </div>
                    </div>  
                  </div>  
                </div>
                <div class="row">
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ dow_macd_color }};">
                      <div class="card-header">
                        MACD
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ dow_mfi_color }};">
                      <div class="card-header">
                        MFI
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ nas_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">NASDAQ</h2>
                        <h4 class="card-title"><i class="text-success"></i> {{ nas_value }} / {{ nas_change }}%</h4>
                      </div>
                    </div>  
                  </div>
                </div>  
              </div>
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ vix_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">VIX</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ vix_value }} / {{ vix_change }}%</h4>
                      </div>
                    </div>  
                  </div>                    
                </div>
                <div class="row text-center">
                    <div class="col-4 text-center" >
                      <div class="week">W1</div>
                      <div class="card card-chart" style="background-color:{{ vix_week1_color }};">
                        <div class="card-header">
                          <div class="week">{{ vix_week1 }}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 text-center"  >
                      <div class="week">W2</div>
                      <div class="card card-chart" style="background-color:{{ vix_week2_color }};">
                        <div class="card-header">
                          <div class="week">{{ vix_week2 }}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 text-center">
                      <div class="week">W3</div>
                      <div class="card card-chart" style="background-color:{{ vix_week3_color }};">
                        <div class="card-header">
                          <div class="week">{{ vix_week3 }}%</div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ r2k_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">Russ-2K</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ r2k_value }} / {{ r2k_change }}%</h4>
                      </div>
                    </div>  
                  </div>  
                </div>
                <div class="row">
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ r2k_macd_color }};color:white">
                      <div class="card-header">
                        MACD
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ r2k_mfi_color }};color:white">
                      <div class="card-header">
                        MFI
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} display-message border " id="trigger_alerts">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="card  card-plain">
              <div class="card-body">

                {% if ib_api_connected %}
                  <div class="table-responsive" id="stocks_table">
                    <!-- API DATA -->
                  </div>
                {% else %}
                <div class="table-responsive" id="stocks_table_delayed">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            <!-- <button type="submit" name="sort_by_stock" class=" text-primary"></button>   -->
                            Symbol
                          </th>
                          <th class="text-center">
                            <!-- <button type="submit" name="sort_by_price" class=" text-primary"></button>   -->
                            Price
                          </th>
                          <th class="text-center">
                              Week 1
                          </th>
                          <th class="text-center">
                              Week 2
                          </th>
                          <th class="text-center">
                              Week 5
                          </th>
                          <th class="text-center" style="font-size: 1rem;">
                            <!-- <button type="submit" name="sort_by_week3" class=" text-primary"></button>   -->
                              Week 3
                          </th>
                          <th class="text-center" style="font-size: 1rem;">
                            <!-- <button type="submit" name="sort_by_gap1" class=" text-primary"></button>   -->
                              Gap 1
                          </th>
                          <th>
                              RSI
                          </th>
                          <th>
                              MACD
                          </th>
                          <th>
                              MFI &nbsp;&nbsp;
                          </th>
                          <th>
                            Earning  
                          </th>
                          <th>
                              Dividend Date
                          </th>
                          <th>
                              Dividend
                          </th>
                          <th>
                              Alarm
                          </th>   
                          <th>
                              Save
                          </th>   
                          <th>
                              Del
                         </th>   
                
                        </tr>
                      </thead>
                      <tbody>
                        {% for stock in stocks %}
                          {% if stock.week_3_color == 'green' and stock.gap_1_color == 'red' %}
                            <tr class="blink-row-buy">
                          {% elif stock.week_3_color == '#FF1000' and stock.gap_1_color == 'green' %}
                              <tr class="blink-row-sell">
                          {% else %}
                            <tr>
                          {% endif %}
                              <!-- <td  class="">
                                    {{ stock.stock_displayed_date }}
                                </td> -->
                                <td  class="">
                                    <b>{{ stock.ticker }}</b>
                                </td>
                                <td  class="">
                                    {{ stock.stock_price }}
                                </td>
                                <td  class="" style="background-color: {{ stock.week_1_color }}; ">
                                    {{ stock.week_1 }}%
                                </td>
                                <td  class="" style="background-color: {{ stock.week_2_color }};">
                                    {{ stock.week_2 }}%
                                </td >
                                <td  class="" style="border-right: 5px solid white; background-color: {{ stock.week_5_color }}; ">
                                    {{ stock.week_5 }}%
                                </td>
                                <td  class="text-center" style="border-right: 5px solid white; background-color: {{ stock.week_3_color }}; font-size: 1rem;">
                                  <b>{{ stock.week_3 }}%</b>
                              </td>
                              <td  class="text-center" style="border-right: 5px solid white; background-color: {{ stock.gap_1_color }}; font-size: 1rem;">
                                <!-- <td  class="bg-success-light"> -->
                                  <b>{{ stock.gap_1 }}% </b>
                                </td>
                                <td  class="border-right border-3" style="background-color: {{ stock.rsi_color }}; text-align: center;">
                                  <!-- <td  class="bg-success-light"> -->
                                    {{ stock.rsi }}
                                  </td>
  
                                {% if sample_period_14 %}
                                  <td  class=" border-right border-3" style="background-color: {{ stock.macd_14_color }}; text-align: center;">
                                      {% if stock.macd_14_clash %}
                                        <span>><</span>
                                      {% else %}
                                        <span>=</span>
                                      {% endif %}
                                  </td>
                                  {% else %}
                                  <td  class=" border-right border-3" style="background-color: {{ stock.macd_30_color }}; text-align: center;">
                                    {% if stock.macd_30_clash %}
                                      <span>><</span>
                                    {% else %}
                                      <span>=</span>
                                    {% endif %}
                                </td>
                                {% endif %}

                                {% if sample_period_14 %}
                                  <td  class="" style="background-color: {{ stock.mfi_14_color }}; text-align: center;">
                                    {% if stock.mfi_14_clash %}
                                      <span>><</span>
                                    {% else %}
                                      <span>=</span>
                                    {% endif %}
                                  </td>
                                {% else %}
                                  <td  class="" style="background-color: {{ stock.mfi_30_color }}; text-align: center;">
                                    {% if stock.mfi_30_clash %}
                                      <span>><</span>
                                    {% else %}
                                      <span>=</span>
                                    {% endif %}
                                  </td>
                                {% endif %}
    
                                <td class="{{ stock.earnings_warning }} " style="height: 100%;">
                                  {{ stock.earnings_call_displayed }}
                                </td>
                                <td class="" style="height: 100%;">
                                    {{ stock.dividend_date }}
                                </td>
                                <td class="" style="height: 100%;">
                                    ${{ stock.dividend }}
                                </td>
                                <td  class="">
                                  <button type="submit" value="{{ stock.id }}" name="alarm_stock" class="tim-icons icon-bell-55"></button>
                                </td>  
                                <td  class="">
                                    <button type="submit" value="{{ stock.id }}" name="save_stock" class="tim-icons icon-bullet-list-67"></button>
                                </td>
                                <td  class="">
                                    <button type="submit" value="{{ stock.id }}" name="delete_stock" class="tim-icons icon-trash-simple"></button>
                                </td>

                            </tr>

                        {% endfor %}
                      </tbody>
                    </table> 
                </div>
                {% endif %}
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Source : https://bytutorial.com/blogs/css3/how-to-create-blinking-background-color-and-text-using-css3-animation -->
      <style>

        .kaka{
          border-style:solid;
           border-width: 5px;
          }

        
        .blink-update{
            color: #fff;
            animation: blinkingUpdate 2s infinite;
        }
        @keyframes blinkingUpdate{
            100%	{ background-color: #bd6116;}
        }


        .blink-bg{
            color: #fff;
            animation: blinkingBackground 2s infinite;
        }
        @keyframes blinkingBackground{
            100%	{ background-color: #04a1d5;}
        }

        .blink-row-buy{
          color: #fff;
          animation: blinkingRowBuy 4s infinite;
        }
        @keyframes blinkingRowBuy{
            100%	{ background-color: #068d2e;}
        }
        .blink-row-sell{
          color: #fff;
          animation: blinkingRowSell 4s infinite;
        }
        @keyframes blinkingRowSell{
            100%	{ background-color: #bb20a1;}
        }

        tr:hover{
          background-color: #79794f;
        }

        /*
        .blink_me {
          animation: blinker 1s linear infinite;
        }
        
        @keyframes blinker {  
          50% { opacity: 0; }
        }
        */

      </style>
      
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

      {% if ib_api_connected %}
        <script type="text/javascript">
                (function worker() {
                    let element = document.querySelector('#table_index');
                    let t_index_url = element.getAttribute('value');
                    console.log("Table Index URL: " + t_index_url)
                    $.ajax({
                    url: t_index_url,
                    success: function(response) {
                      //console.log(response);
                        $('#stocks_table').html(response);
                    }
                });		
                // Polling the API page every second
                setTimeout(worker, 2000);
            })();
            /*
            */
        </script>


        <script type="text/javascript">
          (function worker() {
              let indeces_element = document.getElementById('indeces')
              let indeces_url = indeces_element.getAttribute('indeces_url')
              $.ajax({
              url: indeces_url,
              success: function(response) {
             //     console.log(response);
                  $('#indeces').html(response);
              }
          });		
          // Polling the API page every second
          setTimeout(worker, 5000);
          })();
      /*
      */
        </script> 

    {% else %}
    <script>
      console.log('NOT CONNECTED TO API');
    </script>
      {% endif %}
 

{% endblock content %}
  