{% extends 'kadima/base.html' %}
{% load static %}
{% block content %}
<style>
  .index .row {
    padding: 0% !important;
    margin: 0em !important;
    max-height: 7rem;
    
  }

  .week {
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
    color: white;
  }
</style>
  <div class="content" style="padding-top: 1rem !important;">
        <!-- <div class="loader hidden">
          <img src="{% static 'assets/img/loader.gif' %}" alt="Loading...">
        </div> -->
      
        {% if ib_api_connected %}
            <div class="row sticky-top" id="indeces" style="background-color: #1e1d2e;" indeces_url="{% url 'indeces-data' %}">
            </div>
        {% else %}
          <div class="row sticky-top" id="indeces_delayed" style="background-color: #1e1d2e; top: 0 !important">
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ snp_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">S&P</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ snp_value }} / {{ snp_change }}%</h4>
                      </div>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-6 text-center" >
                      <div class="card card-chart" style="background-color:{{ snp_macd_color }}; color: white">
                        <div class="card-header">
                          MACD
                        </div>
                      </div>
                    </div>
                    <div class="col-6 text-center" >
                      <div class="card card-chart" style="background-color:{{ snp_mfi_color }}; color:white">
                        <div class="card-header">
                        MFI
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ dow_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">DOW</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ dow_value }} / {{ dow_change }}%</h4>
                      </div>
                    </div>  
                  </div>  
                </div>
                <div class="row">
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ dow_macd_color }};">
                      <div class="card-header">
                        MACD
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ dow_mfi_color }};">
                      <div class="card-header">
                        MFI
                      </div>
                    </div>
                  </div>
                </div>
              </div>
 
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ nas_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">NASDAQ</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ nas_value }} / {{ nas_change }}%</h4>
                      </div>
                    </div>  
                  </div>  
                </div>
                <div class="row">
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ nas_macd_color }};">
                      <div class="card-header">
                        MACD
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ nas_mfi_color }};">
                      <div class="card-header">
                        MFI
                      </div>
                    </div>
                  </div>
                </div>
              </div>
 
 
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ r2k_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">Russ-2K</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ r2k_value }} / {{ r2k_change }}%</h4>
                      </div>
                    </div>  
                  </div>  
                </div>
                <div class="row">
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ r2k_macd_color }};color:white">
                      <div class="card-header">
                        MACD
                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="card card-chart" style="background-color:{{ r2k_mfi_color }};color:white">
                      <div class="card-header">
                        MFI
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="index">
                  <div class="row">
                    <div class="card card-chart" style="background-color:{{ vix_color }};">
                      <div class="card-header">
                        <h2 class="card-title" style="color: aliceblue;">VIX</h2>
                        <h4 class="card-title"><i class="text-info"></i> {{ vix_value }} / {{ vix_change }}%</h4>
                      </div>
                    </div>  
                  </div>                    
                </div>
                <div class="row text-center">
                    <div class="col-4 text-center" >
                      <div class="week">W1</div>
                      <div class="card card-chart" style="background-color:{{ vix_week1_color }};">
                        <div class="card-header">
                          <div class="week">{{ vix_week1 }}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 text-center"  >
                      <div class="week">W2</div>
                      <div class="card card-chart" style="background-color:{{ vix_week2_color }};">
                        <div class="card-header">
                          <div class="week">{{ vix_week2 }}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 text-center">
                      <div class="week">W3</div>
                      <div class="card card-chart" style="background-color:{{ vix_week3_color }};">
                        <div class="card-header">
                          <div class="week">{{ vix_week3 }}%</div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} display-message border " id="trigger_alerts">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="row" id="mainTable">
          <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="card  card-plain">
              <div class="card-body">

                {% if ib_api_connected %}
                  <div class="table-responsive" id="stocks_table">
                      <!-- API DATA -->
                  </div>
                  {% else %}    
                  <div class="table-responsive" id="stocks_table_delayed">
                    <table id="stocksTable" class="table table-striped table-bordered table-sm" style="width:100%">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            <!-- <button type="submit" name="sort_by_stock" class=" text-primary"></button>   -->
                            Symbol
                          </th>
                          <th class="text-center">
                            <!-- <button type="submit" name="sort_by_price" class=" text-primary"></button>   -->
                            Price
                          </th>
                          <th class="text-center" style="font-size: 1rem;">
                              90 Days
                              <button name="sort_week1" class="tim-icons icon-minimal-down"></button>
                          </th>
                          <th class="text-center">
                              Week 2
                          </th>
                          <th class="text-center">
                              Week 5
                          </th>
                          <th class="text-center" style="font-size: 1rem;">
                              Week 3
                              <button name="sort_week3" class="tim-icons icon-minimal-down"></button>
                            </th>
                          <th class="text-center" style="font-size: 1rem;">
                              Gap 1
                              <button name="sort_gap" class="tim-icons icon-minimal-down"></button>
                          </th>
                          <th>
                              RSI
                          </th>
                          <th>
                              MACD
                          </th>
                          <th>
                              MFI &nbsp;&nbsp;
                          </th>
                          <th>
                            Earning  
                          </th>
                          <th>
                              Dividend Date
                          </th>
                          <th>
                              Dividend
                          </th>
                          <th>
                              Alarm
                          </th>   
                          <th>
                              Save
                          </th>   
                          <th>
                              Del
                         </th>   
                
                        </tr>
                      </thead>
                      <tbody>
                        {% if sort_by == 'gap_1' %}  
                          {% include 'kadima/table_data_sorted_gap.html' %}
                        {% elif sort_by == 'week_1' %} 
                          {% include 'kadima/table_data_sorted_week1.html' %}
                        {% else %}
                          {% include 'kadima/table_data_sorted_week3.html' %}
                        {% endif %}
                      </tbody>
                    </table> 
                  </div>
                  {% endif %}
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      {% block js %}
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
      
      <!-- <script src="{% static 'assets/js/kadima.js' %}" ></script> -->

      {% if user.is_authenticated %}
      {%  else %}
      <script>
        var childNodes = document.getElementById("mainTable").getElementsByTagName('*');
        for (var node of childNodes) {
            node.disabled = true;
      }
      </script>
      {% endif %}


      {% endblock js %}

      <!-- Source : https://bytutorial.com/blogs/css3/how-to-create-blinking-background-color-and-text-using-css3-animation -->
      <style>

        .kaka{
          border-style:solid;
           border-width: 5px;
          }

        
        .blink-update{
            color: #fff;
            animation: blinkingUpdate 2s infinite;
        }
        @keyframes blinkingUpdate{
            100%	{ background-color: #bd6116;}
        }


        .blink-bg{
            color: #fff;
            animation: blinkingBackground 2s infinite;
        }
        @keyframes blinkingBackground{
            100%	{ background-color: #04a1d5;}
        }

        .blink-row-buy{
          color: #fff;
          animation: blinkingRowBuy 4s infinite;
        }
        @keyframes blinkingRowBuy{
            100%	{ background-color: #068d2e;}
        }

        .fast-blink-row-buy{
          color: #fff;
          animation: fastBlinkingRowBuy 1s infinite;
        }
        @keyframes fastBlinkingRowBuy{
            100%	{ background-color: #068d2e;}
        }

        .blink-row-sell{
          color: #fff;
          animation: blinkingRowSell 4s infinite;
        }
        @keyframes blinkingRowSell{
            100%	{ background-color: #bb20a1;}
        }

        .fast-blink-row-sell{
          color: #fff;
          animation: fastBlinkingRowSell 1s infinite;
        }
        @keyframes fastBlinkingRowSell{
            100%	{ background-color: #bb20a1;}
        }


        tr:hover{
          background-color: #79794f;
        }

        /*
        .blink_me {
          animation: blinker 1s linear infinite;
        }
        
        @keyframes blinker {  
          50% { opacity: 0; }
        }
        */

      </style>
      
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->



      {% if ib_api_connected %}
        <script type="text/javascript">
                (function worker() {
                    let element = document.querySelector('#table_index');
                    let t_index_url = element.getAttribute('value');
                    console.log("Table Index URL: " + t_index_url)
                    $.ajax({
                    url: t_index_url,
                    success: function(response) {
                      //console.log(response);
                        $('#stocks_table').html(response);
                    }
                });		
                // Polling the API page every 2 seconds
                setTimeout(worker, 2000);
            })();
            /*
            */
        </script>


        <script type="text/javascript">
          (function worker() {
              let indeces_element = document.getElementById('indeces')
              let indeces_url = indeces_element.getAttribute('indeces_url')
              $.ajax({
              url: indeces_url,
              success: function(response) {
             //     console.log(response);
                  $('#indeces').html(response);
              }
          });		
          // Polling the API page every second
          setTimeout(worker, 5000);
          })();
      /*
      */
        </script> 

    {% else %}
    <script>
      console.log('NOT CONNECTED TO API');
    </script>
      {% endif %}
 

{% endblock content %}
  