{% extends 'kadima/base.html' %}
{% block content %}

      <div class="content">
        <div class="col-lg-4 ">
            <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            {% if ib_api_connected %}
              <button type="submit" name="connect_ib_api" class="btn btn-success" disabled> IB API Connected </button>
              <button type="submit" name="disconnect_ib_api" class="btn btn-danger"> Disconnect </button>
              {% else %}
              <button type="submit" name="connect_ib_api" class="btn btn-default" > Connect API </button>
            {% endif %}
          </form>
        </div>
        <!--  <div class="row sticky-top" id="indeces" style="background-color: #1e1d2e;">
            </div> -->
          <div class="row sticky-top" id="indeces_delayed" style="background-color: #1e1d2e;">
              <div class="col-lg-4 ">
                <div class="card card-chart " style="background-color:{{ dow_color }};">
                  <div class="card-header">
                    <h1 class="card-title" style="color: aliceblue;">DOW</h1>
                    <h3 class="card-title"><i class="text-primary"></i>{{ dow_value }}</h3>
                    <h1 class="card-title" style="color: black;"><i class="text-primary" style="color: black;"></i>{{ dow_change }}%</h1>
                  </div>
                  <!-- <div class="card-body">
                    <div class="chart-area">
                      <canvas id="chartLinePurple"></canvas>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-chart" style="background-color:{{ snp_color }};">
                  <div class="card-header">
                    <h1 class="card-title" style="color: aliceblue;">S&P</h1>
                    <h3 class="card-title"><i class="text-info"></i> {{ snp_value }}</h3>
                    <h1 class="card-title" style="color: black;"><i class="text-info" style="color: black;"></i> {{ snp_change }}%</h1>
                  </div>
                  <!-- <div class="card-body">
                    <div class="chart-area">
                      <canvas id="CountryChart"></canvas>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-chart" style="background-color:{{ nas_color }};">
                  <div class="card-header">
                    <h1 class="card-title" style="color: aliceblue;">NASDAQ</h1>
                    <h3 class="card-title"><i class="text-success"></i> {{ nas_value }}</h3>
                    <h1 class="card-title" style="color: black;"><i style="color: black;"></i> {{ nas_change }}%</h1>
                  </div>
                  <!-- <div class="card-body">
                    <div class="chart-area">
                      <canvas id="chartLineGreen"></canvas>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

        <div class="row">
            <div class="col-md-5 pr-md-1">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-5 pr-md-1">
                        <div class="form-group">
                          <label style="color: aliceblue;">Enter stock to to add to the table</label>
                          <input type="text" class="form-control" name="stock" placeholder="Stock ticker, e.g. AAPL">
                        </div>
                      </div>
                      <div class="col-md-5 pr-md-1 mt-auto">
                        <button type="submit" name="add_stock" class="btn btn-fill btn-secondary bg-secondary">Add</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="card  card-plain">
              <div class="card-header">
                <h4 class="card-title" id="table_index" value="{% url 'stock-data-api' table_index=table_index %}" >Stock Table {{ table_index }}</h4>
                <p class="category"> Information about individual stocks</p>
              </div>
              <div class="card-body">
                {% if ib_api_connected %}
                  <div class="table-responsive" id="stocks_table">
                  </div>
                {% else %}
                  <div class="table-responsive" id="stocks_table_delayed">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            <button type="submit" name="sort_by_date" class="tim-icons icon-minimal-down text-primary"></button>  Date
                          </th>
                          <th>
                            <button type="submit" name="sort_by_stock" class="tim-icons icon-minimal-down text-primary"></button>  Stock Symbol
                          </th>
                          <th class="text-center">
                            <button type="submit" name="sort_by_price" class="tim-icons icon-minimal-down text-primary"></button>  Stock Price
                          </th>
                          <th class="text-center">
                              Week 1
                          </th>
                          <th class="text-center">
                              Week 2
                          </th>
                          <th class="text-center">
                            <button type="submit" name="sort_by_week3" class="tim-icons icon-minimal-down text-primary"></button>  Week 3
                          </th>
                          <th class="text-center">
                              Week 5
                          </th>
                          <th class="text-center">
                            <button type="submit" name="sort_by_gap1" class="tim-icons icon-minimal-down text-primary"></button>  Gap 1
                          </th>
                          <th class="text-center">
                              Gap 2
                          </th>
                          <th class="text-center">
                              Gap 3
                          </th>
                          <th>
                            Earning Call 
                          </th>
                          <th>
                              MACD Clash 
                          </th>
                          <th>
                              MFI Clash
                          </th>
                          <th>
                              Log to History
                          </th>   
                        </tr>
                      </thead>
                      <tbody>
                        {% for stock in stocks %}
                            <tr class="border-top border-1">
                                <td  class="border-top border-1">
                                    {{ stock.stock_displayed_date }}
                                </td>
                                <td  class="border-top border-1">
                                    {{ stock.ticker }}
                                </td>
                                <td  class="border-top border-1">
                                    {{ stock.stock_price }}
                                </td>
                                <td  class="border-top border-1" style="background-color: {{ stock.week_1_color }}; ">
                                    {{ stock.week_1 }}%
                                </td>
                                <td  class="border-top border-1 border-right border-3" style="background-color: {{ stock.week_2_color }}; ">
                                    {{ stock.week_2 }}%
                                </td >
                                <td  class="border-top border-right border-3" style="background-color: {{ stock.week_3_color }}; ">
                                    {{ stock.week_3 }}%
                                </td>
                                <td  class="border-top border-1" style="background-color: {{ stock.week_5_color }}; ">
                                    {{ stock.week_5 }}%
                                </td>
                                <td  class="border-top border-1" style="background-color: {{ stock.gap_1_color }}; ">
                                    {{ stock.gap_1 }}%
                                </td>
                                <td  class="border-top border-1" style="background-color: {{ stock.gap_2_color }}; ">
                                    {{ stock.gap_2 }}%
                                </td>
                                <td  class="border-top border-1" style="background-color: {{ stock.gap_3_color }}; ">
                                    {{ stock.gap_3 }}%
                                </td>
                                <td class="{{ stock.earnings_warning }} border-top border-1" style="height: 100%;">
                                    {{ stock.earnings_call_displayed }}
                                </td>
                                <td  class="border-top border-1 border-right border-3" style="background-color: {{ stock.macd_color }}; text-align: center;">
                                    {% if stock.macd_clash %}
                                      <span>><</span>
                                    {% else %}
                                      <span>=</span>
                                    {% endif %}
                                </td>
                                <td  class="border-top border-1" style="background-color: {{ stock.mfi_color }}; text-align: center;">
                                  {% if stock.mfi_clash %}
                                    <span>><</span>
                                  {% else %}
                                    <span>=</span>
                                  {% endif %}
                            </td>
                                <td  class="border-top border-1">
                                    <button type="submit" value="{{ stock.id }}" name="save_stock" class="btn btn-fill btn-secondary">Save</button>
                                </td>
                                <td  class="border-top border-1">
                                    <button type="submit" value="{{ stock.id }}" name="delete_stock" class="tim-icons icon-trash-simple"></button>
                                </td>

                            </tr>

                        {% endfor %}
                      </tbody>
                    </table> 
                </div>
                {% endif %}
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Source : https://bytutorial.com/blogs/css3/how-to-create-blinking-background-color-and-text-using-css3-animation -->
      <style>
        .blink-bg{
            color: #fff;
            padding: 0px;
            display: inline-block;
            border-radius: 0px;
            animation: blinkingBackground 4s infinite;
        }
        @keyframes blinkingBackground{
            100%	{ background-color: #04a1d5;}
        }

        .border-3 {
            border-width:1px !important;
            border-color: black;
        }

      </style>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

      {% if ib_api_connected %}
        <script type="text/javascript">
                (function worker() {
                    let element = document.querySelector('#table_index');
                    let t_index_url = element.getAttribute('value');
                    console.log("Table Index URL: " + t_index_url)
                    $.ajax({
                    url: t_index_url,
                    success: function(response) {
                      //console.log(response);
                        $('#stocks_table').html(response);
                    }
                });		
                // Polling the API page every second
                setTimeout(worker, 2000);
            })();
            /*
            */
        </script>

<!--         
        <script type="text/javascript">
          (function worker() {
              $.ajax({
              url: 'http://127.0.0.1:8001/indeces-data/',
              success: function(response) {
             //     console.log(response);
                  $('#indeces').html(response);
              }
          });		
          // Polling the API page every second
          setTimeout(worker, 2000);
          })();
      /*
      */
        </script> -->
    {% else %}
    <script>
      console.log('POPO');
    </script>
      {% endif %}
 

{% endblock content %}
  