{% extends 'kadima/base.html' %}

{% block content %}
<div class="content" style="padding-top: 0 !important;" id="alarmsTable">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card  card-plain">
                    <div class="card-header">
                        <h1 class="card-title">Stocks Alarms</h1>
                    </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label style="color: aliceblue;">Select Stock</label><br>
                                            <select name="stock_alarm_select" id="stock_alarm_select">
                                                <option value="">------</option>

                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="" type="checkbox" name="select_all" id="select_all">
                                            <label> Select all</label>
                                        </div>
                                        <div class="col-md-3 pr-md-1">
                                            <div class="form-group">
                                            <label style="color: aliceblue;">Select Delta</label>
                                            <select name="delta_select" id="delta_select">
                                                <option value="0.05">0.05</option>
                                                <option value="0.10">0.10</option>
                                                <option value="0.15">0.15</option>
                                                <option value="0.20">0.20</option>
                                                <option value="0.25">0.25</option>
                                                <option value="0.30">0.30</option>
                                                <option value="0.35">0.35</option>
                                                <option value="0.40">0.40</option>
                                                <option value="0.45">0.45</option>
                                                <option value="0.50">0.50</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="" >
                                            <button type="submit" name="stock_alarm_set" class="btn btn-default btn-sm mr-1">Set</button>
                                        </div>
                                        <div class="" >
                                            <button type="submit" name="stock_alarm_reset" class="btn btn-danger btn-sm">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                                {% if ib_api_connected %}
                                <div class="row">
                                  <div class="col" style="border-color: green;;border-style: solid double; text-align:center; vertical-align: middle" >
                                    <h4> IB API CONNECTED </h4>
                                  </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col" style="border-color: red;border-style: solid double; text-align:center; vertical-align: middle" >
                                      <h4> IB API NOT CONNECTED </h4>
                                    </div>
                                  </div>  
                                {% endif %}                          
                            </div>
                            <div class="col-7"></div>
                    </div>

                    <div class="card-body">
                        {% if ib_api_connected %}

                        <div class="table-responsive" id="stocks_alarms">
                        <!-- STREAMING DATA TABLE -->
                        </div>
                        {% else %}
                        <div class="table-responsive" id="stocks_alarms" >
                            <table class="table tablesorter " id="stocks_alarms" style="table-layout: fixed; text-align: center;">
                                <thead class=" text-primary">
                                <tr>
                                    <!-- <th>
                                        Date
                                    </th> -->
                                    <th>
                                        Stock Symbol
                                    </th>
                                    <th class="text-center">
                                        Init Price
                                    </th>
                                    <th class="text-center">
                                        Current Price
                                    </th>

                                    <th class="text-center">
                                        Week 3
                                        <button name="sort_week3" class="tim-icons icon-minimal-down"></button>
                                    </th>
                                    <th class="text-center">
                                        Gap 1
                                        <button name="sort_gap" class="tim-icons icon-minimal-down"></button>
                                    </th>
                                    <th class="text-center">
                                        RSI
                                    </th>
                                    <th class="text-center">
                                        Dividends
                                    </th>
                                    <th class="text-center">
                                        Earnings
                                    </th>
                                    <th>
                                        Delta
                                    </th>
                                    <th>
                                        Price Up
                                    </th>
                                    <th>
                                        Price Down
                                    </th>
                                    <th>
                                        Alarm Set
                                    </th>   
                                    <th>
                                        1
                                    </th>
                                    <th>
                                        2
                                    </th>
                                    <th>
                                        3
                                    </th>
                                    <th>
                                        4
                                    </th>
                                    <th>
                                        5
                                    </th>
                                    <th>
                                        6
                                    </th>
                                    <th>
                                        7
                                    </th>
                                    <th>
                                        8
                                    </th>
                                    <th>
                                        Delete
                                    </th>   
                                </tr>
                            </thead>
                            <tbody>
                                {% if sort_by == 'gap_1' %}  
                                    {% include 'ib_api/_streaming_alarms_sorted_gap.html' %}
                                {% else %}
                                    {% include 'ib_api/_streaming_alarms_sorted_week3.html' %}
                                {% endif %}      
                            </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Source : https://bytutorial.com/blogs/css3/how-to-create-blinking-background-color-and-text-using-css3-animation -->
<script type="text/javascript">
$("#stock_alarm_select").click(function () {
        console.log('UPDATING alarms...')
        $.ajax({
        url: "{% url 'alarm-stocks-selector' %}",
        success: function(response) {
        $('#stock_alarm_select').html(response);
        }
    })		
});
</script>

{% if user.is_authenticated %}
{%  else %}
<script>
    var childNodes = document.getElementById("alarmsTable").getElementsByTagName('*');
    for (var node of childNodes) {
        node.disabled = true;
}
</script>
{% endif %}

{% if ib_api_connected %}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <script type="text/javascript">
        (function worker() {
            $.ajax({
            url: '/stocks-alarms-data/',
            success: function(response) {
                //console.log(`RESP: ${response}`)
                //console.log($('#price_up').html(response));
                //console.log($('#price_down').html(response));
                $('#stocks_alarms').html(response);
            }
        });		
        // Polling the API page every second for the Stock ALARMS
        setTimeout(worker, 2000);
        })();
    </script>

{% endif %}

<style>

    .blink-sell{
        color: #fff;
        animation: blinkingSell 2s infinite;
      }
      @keyframes blinkingSell{
          100%	{ background-color: #9b2b3a;}
      }

    .blink-buy{
        color: #fff;
        animation: blinkingBuy 2s infinite;
      }
      @keyframes blinkingBuy{
          100%	{ background-color: #17a83b;}
      }


    .tab_cell {
        text-align: center;
    }
</style>

{% endblock content %}