<div class="col-lg-2 ">
  <div class="card card-chart " style="background-color:{{ dow_color }};">
    <div class="card-header h-50">
      <h1 class="card-title" style="color: aliceblue;">DOW</h1>
      <h3 class="card-title"><i class="text-primary"></i>{{ dow_value }} / {{ dow_change }}%</h3>
    </div>
  </div>
</div>
<div class="col-lg-2">
  <div class="card card-chart" style="background-color:{{ snp_color }};">
    <div class="card-header h-50">
      <h1 class="card-title" style="color: aliceblue;">S&P</h1>
      <h3 class="card-title"><i class="text-info"></i> {{ snp_value }} / {{ snp_change }}%</h3>
    </div>
  </div>
</div>
<div class="col-lg-2">
  <div class="card card-chart" style="background-color:{{ nas_color }};">
    <div class="card-header h-50">
      <h1 class="card-title" style="color: aliceblue;">NASDAQ</h1>
      <h3 class="card-title"><i class="text-success"></i> {{ nas_value }} / {{ nas_change }}%</h3>
    </div>
  </div>
</div>
<div class="col-lg-2">
  <div class="card card-chart" style="background-color:{{ vix_color }};">
    <div class="card-header h-50">
      <h1 class="card-title" style="color: aliceblue;">VIX</h1>
      <h3 class="card-title"><i class="text-success"></i> {{ vix_value }} / {{ vix_change }}%</h3>
    </div>
  </div>
</div>
<div class="col-lg-2">
    <div class="card card-chart" style="background-color:{{ r2k_color }};">
      <div class="card-header h-50">
        <h1 class="card-title" style="color: aliceblue;">Russell-2K</h1>
        <h3 class="card-title"><i class="text-success"></i> {{ r2k_value }} / {{ r2k_change }}%</h3>
      </div>
    </div>
</div>
