<table class="table tablesorter " id="stocks_alarms" style="table-layout: fixed; text-align: center;">
    <thead class=" text-primary">
    <tr>
    <!-- <th>
        Date
    </th> -->
    <th>
        Stock Symbol
    </th>
    <th class="text-center">
        Load Price
    </th>
    <th class="text-center">
        Init Price
    </th>
    <th class="text-center">
        Current Price
    </th>
    <th class="text-center">
        Week 3
        <button name="sort_week3" class="tim-icons icon-minimal-down"></button>
    </th>
    <th class="text-center">
        Gap 1
        <button name="sort_gap" class="tim-icons icon-minimal-down"></button>
    </th>
    <th class="text-center">
        RSI
    </th>
    <th class="text-center">
        Dividends
    </th>
    <th class="text-center">
        Earnings
    </th>
    <th>
        Delta
    </th>
    <!-- <th>
        Price Up
    </th>
    <th>
        Price Down
    </th> -->
    <th>
        Alarm Set
    </th>   
    <th>
        1
    </th>
    <th>
        2
    </th>
    <th>
        3
    </th>
    <th>
        4
    </th>
    <th>
        5
    </th>
    <th>
        6
    </th>
    <th>
        7
    </th>
    <th>
        8
    </th>
    <th>
        9
    </th>
    <th>
        10
    </th>
    <th>
        Delete
    </th>   
    </tr>
</thead>
<tbody>
    {% if sort_by == 'gap_1' %}  
        {% include 'ib_api/_streaming_alarms_sorted_gap.html' %}
    {% else %}
        {% include 'ib_api/_streaming_alarms_sorted_week3.html' %}
    {% endif %}      

</tbody>
</table>

{% if user.is_authenticated %}
{%  else %}
<script>
  var childNodes = document.getElementById("stocks_alarms").getElementsByTagName('*');
  for (var node of childNodes) {
      node.disabled = true;
}
</script>
{% endif %}