{% if not is_trading %}
    <div class="blink-update">
        <h2>No Trading!</h2>
    </div>
{% elif updating_gaps %}
    <div class="blink-update">
        <h2>Updating gaps data. Stand by...</h2>
    </div>
{% endif %}
<table id="stocksTable" class="table table-striped table-bordered table-sm" style="width:100%">
    <thead class=" text-primary">
      <tr>
        <!-- <th>
          Date
        </th> -->
        <th>
          <!-- <button type="submit" name="sort_by_stock" class="tim-icons icon-minimal-down text-primary"></button>   -->
           Symbol
        </th>
        <th class="text-center">
          <!-- <button type="submit" name="sort_by_price" class="tim-icons icon-minimal-down text-primary"></button>   -->
           Price
        </th>
        <th class="text-center">
            Week 1
        </th>
        <th class="text-center">
            Week 2
        </th>
        <th class="text-center">
            Week 5
        </th>
        <th class="text-center" style="font-size: 1rem;">
          <!-- <button type="submit" name="sort_by_week3" class="tim-icons icon-minimal-down text-primary"></button>   -->
          Week 3
          <button name="sort_week3" class="tim-icons icon-minimal-down"></button>
        </th>
        <th class="text-center" style="font-size: 1rem;">
          <!-- <button type="submit" name="sort_by_gap1" class="tim-icons icon-minimal-down text-primary"></button>   -->
          Gap 1
          <button name="sort_gap" class="tim-icons icon-minimal-down"></button>
        </th>
        <th>
          RSI  
        </th>
         <th>
            MACD  
         </th>
          <th>
            MFI &nbsp;&nbsp;
         </th>
         <th>
            Earning  
         </th>
          <th>
            Dividend Date
          </th>
        <th>
            Dividend
        </th>
        <th>
            Alarm
        </th>   
         <th>
            Save
         </th>   
         <th>
            Delete
         </th>   
        </tr>
    </thead>
    <tbody>
      {% if sort_by == 'gap_1' %}  
      {% include 'kadima/table_data_sorted_gap.html' %}
      {% else %}
      {% include 'kadima/table_data_sorted_week3.html' %}
    {% endif %}
</tbody>
</table>

{% if user.is_authenticated %}
{%  else %}
<script>
  var childNodes = document.getElementById("stocksTable").getElementsByTagName('*');
  for (var node of childNodes) {
      node.disabled = true;
}
</script>
{% endif %}