<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Data</h1>

    <h3>Add Stock</h3>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        <input type="text" id="stock_ticker" name="stock_ticker">
        <button type="submit" name="submit_stock">Add</button>
        <button type="submit" name="start_api">Start API</button><br><br>
</form>
    <div  class="" id="stock_price" name="stock_price" >
																	
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

        (function worker() {
            $.ajax({
            url: 'http://127.0.0.1:8001/stock-data-api/',
            success: function(response) {
                console.log(response);
                $('#stock_price').html(response);
            }
        });		
        setTimeout(worker, 1000);
    })();
    /*
    */
</script>